# dependencies & project
/node_modules
/.idea

# testing
/coverage
jest.setup.js

# production
/.next

# generated js files in subfolders
/*/**/*.js

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
